.gamegrid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}

.game-row {
  display: flex;
  gap: var(--grid-gap);

  &.current {
    cursor: pointer;
    position: relative;
  }

  &.current .game-cell:hover {
    box-shadow: 0px 0px 2px 4px #ffffffb5;
  }

  &.current .game-cell.active {
    animation: activePulse 1s infinite;
  }

  &.current .game-cell.erase {
    cursor: pointer;
    border: none;
    z-index: 100;
    position: absolute;
    top: -1em;
    right: -1em;
    font-size: 1em;
    border-radius: 50%;
    background-color: #ff04049c;
    box-shadow: 0px 0px 1px 2px #e30000dc;
    width: 1em;
    height: 1em;
    font-weight: 500;
    padding: 0em;
    line-height: 1em;
  }

  &.current .game-cell.erase:hover {
    background-color: #ff04069c;
  }
}

.game-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: var(--letter-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: var(--transition-smooth);

  .correct {
    background: radial-gradient(
      circle at center center,
      rgb(0 88 0 / 95%) 0%,
      rgb(0 0 0 / 48%) 100%
    );
    color: white;
    border: 1px outset rgba(0, 128, 0, 0.79);
    text-shadow: 0px 1px 4px black;
  }

  .present {
    background: radial-gradient(
      circle at center center,
      rgba(88, 73, 0, 0.95) 0%,
      rgb(0 0 0 / 48%) 100%
    );
    color: white;
    border: 1px outset rgba(255, 217, 0, 0.5);
    text-shadow: 0px 1px 4px rgb(52, 37, 0);
  }

  .absent {
    background-color: rgba(255, 255, 255, 0.01);
    color: var(--color-text-muted);
  }

  .unused {
    background-color: rgba(255, 255, 255, 0.08);
    text-shadow: 0px 0px 4px black;
    color: rgba(255, 255, 255, 0.65);
  }
}

.letter {
  font-family: var(--font-display);
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--color-text);
  text-shadow: -1px 2px 3px black;
  background: radial-gradient(
    circle at center center,
    rgba(255, 255, 255, 0.1) 0%,
    rgb(0 0 0 / 0%) 100%
  );
  width: 95%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--letter-radius) - 2px);
  transition: var(--transition-bounce);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Add responsive design */
@media (max-width: 768px) {
  :root {
    --cell-size: 3rem;
  }
}

/* @keyframes rotate {
  0% {
    transform: rotatex(125deg);
  }
  100% {
    transform: rotatex(0deg);
  }
} */

@keyframes activePulse {
  0% {
    border-bottom: 0.1em solid #538d4e;
  }
  100% {
    border-bottom: 0.1em solid #3a3a3c;
  }
}
